<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <title>Sonos Webcontroller</title>
</head>
<body class="bg-slate-900">

<div class="container mx-auto px-4 py-12">
    <div class="bg-white border-gray-100 dark:bg-gray-800 dark:border-gray-500 border-b rounded-t-xl p-4 pb-6 sm:p-10 sm:pb-8 lg:p-6 xl:p-10 xl:pb-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8">
        <div class="flex items-center space-x-4">
            <img src={{ track['album_art'] }} alt="" width="88" height="88" class="flex-none rounded-lg bg-gray-100
            dark:bg-gray-800"/>
            <div class="min-w-0 flex-auto space-y-1 font-semibold">
                <p class="text-cyan-500 dark:text-cyan-400 text-sm leading-6">
                    {{ track['artist'] }}
                </p>
                <h2 class="text-gray-500 dark:text-gray-400 text-sm leading-6 truncate">
                    {{ track['album'] }}
                </h2>
                <p class="text-gray-900 dark:text-gray-50 text-lg">
                    {{ track['title'] }}
                </p>
            </div>
        </div>
        <div class="space-y-2">
            <div class="relative">
                <div class="bg-gray-100 dark:bg-gray-700 rounded-full overflow-hidden">
                    <div class="bg-cyan-500 dark:bg-cyan-400 w-1/2 h-2" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                </div>
                <!--<div class="ring-cyan-500 dark:ring-cyan-400 ring-2 absolute left-1/2 top-1/2 w-4 h-4 -mt-2 -ml-2 flex items-center justify-center bg-white rounded-full shadow">
                    <div class="w-1.5 h-1.5 bg-cyan-500 dark:bg-cyan-400 rounded-full ring-1 ring-inset ring-gray-900/5"></div>
                </div>-->
            </div>
            <div class="flex justify-between text-sm leading-6 font-medium tabular-nums">
                <div class="text-cyan-500 dark:text-gray-100">{{ track['position'] }}</div>
                <div class="text-gray-500 dark:text-gray-400">{{ track['duration'] }}</div>
            </div>
        </div>
    </div>
    <div class="bg-gray-50 text-gray-500 dark:bg-gray-600 dark:text-gray-200 flex items-center">
        <div class="flex-auto flex items-center justify-evenly">
            <button type="button" aria-label="Previous">
                <svg width="24" height="24" fill="none">
                    <path d="m10 12 8-6v12l-8-6Z" fill="currentColor" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6v12" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
        <button type="button"
                class="bg-white text-gray-900 dark:bg-gray-100 dark:text-gray-700 flex-none -my-2 mx-auto w-20 h-20 rounded-full ring-1 ring-gray-900/5 shadow-md flex items-center justify-center"
                aria-label="Pause">
            <svg width="30" height="32" fill="currentColor">
                <rect x="6" y="4" width="4" height="24" rx="2"/>
                <rect x="20" y="4" width="4" height="24" rx="2"/>
            </svg>
        </button>
        <div class="flex-auto flex items-center justify-evenly">
            <button type="button" aria-label="Next">
                <svg width="24" height="24" fill="none">
                    <path d="M14 12 6 6v12l8-6Z" fill="currentColor" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18 6v12" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="bg-white border-gray-100 dark:bg-gray-600 dark:border-gray-500 border-b rounded-b-xl p-4 pb-4 sm:p-8 sm:pb-6 lg:p-6 xl:p-10 xl:pb-6 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8">

        <div class="flex justify-between text-sm leading-6 font-medium tabular-nums">
            <div class="text-cyan-500 dark:text-gray-400">
                <button type="button" aria-label="Next">
                    <svg width="24" height="24" fill="none">
                        <path d="M 11 4 L 6 8 L 2 8 v 8 l 4 0 L 11 20 Z"
                              stroke="currentColor" fill="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M 14 7 C 17 10 17 14 14 17"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
            <div class="container mx-auto px-2 py-2 align-middle">
                <div class="relative">
                    <div class="bg-gray-100 dark:bg-gray-700 rounded-full overflow-hidden">
                        <div class="bg-cyan-500 dark:bg-cyan-400 w-1/2 h-2" role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100" style="width: {{ volume }}%"></div>
                    </div>
                    <!--<div class="ring-cyan-500 dark:ring-cyan-400 ring-2 absolute left-1/2 top-1/2 w-4 h-4 -mt-2 -ml-2 flex items-center justify-center bg-white rounded-full shadow">
                        <div class="w-1.5 h-1.5 bg-cyan-500 dark:bg-cyan-400 rounded-full ring-1 ring-inset ring-gray-900/5"></div>
                    </div>-->
                </div>
            </div>
            <div class="text-gray-500 dark:text-gray-400">
                <button type="button" aria-label="Next">
                    <svg width="24" height="24" fill="none">
                        <path d="M 11 4 L 6 8 L 2 8 v 8 l 4 0 L 11 20 Z" fill="currentColor" stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M 14 7 C 17 10 17 14 14 17 M 16 5 C 20 8 20 16 16 19 M 18 3 C 23 7 23 17 18 21"
                              stroke="currentColor" stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

</div>
</body>
</html>