<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <title>Sonos Webcontroller</title>
</head>
<body class="bg-slate-900">


<div class="min-h-full">
    <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <svg class="h-8 w-8 text-cyan-500 dark:text-cyan-400" xmlns="http://www.w3.org/2000/svg"
                             fill="none" viewBox="0 0 32 32"
                             stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" fill="currentColor"
                                  d="M 8 5 L 8 27 M 13 5 L 13 27 L 23 16 L 13 5"/>
                        </svg>

                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a href="#" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                               aria-current="page">Wohnzimmer</a>

                            <a href="#"
                               class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Wohnzimmer 2</a>

                        </div>
                    </div>
                </div>

                <div class="-mr-2 flex md:hidden">
                    <!-- Mobile menu button -->
                    <button type="button"
                            id="menubutton"
                            class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                            aria-controls="mobile-menu" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <!--
                          Heroicon name: outline/menu

                          Menu open: "hidden", Menu closed: "block"
                        -->
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4 6h16M4 12h16M4 18h16"/>
                        </svg>
                        <!--
                          Heroicon name: outline/x

                          Menu open: "block", Menu closed: "hidden"
                        -->
                        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="hidden md:hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
                   aria-current="page">Wohnzimmer</a>
                <a href="#"
                   class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Wohnzimmer 2</a>
            </div>
        </div>
    </nav>
</div>


<!-- Music controller !-->

<div class="container mx-auto px-4 py-12">
    <div class="bg-white border-gray-100 dark:bg-gray-800 dark:border-gray-500 border-b rounded-t-xl p-4 pb-6 sm:p-10 sm:pb-8 lg:p-6 xl:p-10 xl:pb-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8">
        <div class="flex items-center space-x-4">
            <img id="cover" src={{ track['album_art'] }} alt="" width="88" height="88" class="flex-none rounded-lg
            bg-gray-100
            dark:bg-gray-800"/>
            <div class="min-w-0 flex-auto space-y-1 font-semibold">
                <p id="artist" class="text-cyan-500 dark:text-cyan-400 text-sm leading-6">
                    {{ track['artist'] }}
                </p>
                <h2 id="album" class="text-gray-500 dark:text-gray-400 text-sm leading-6 truncate">
                    {{ track['album'] }}
                </h2>
                <p id="title" class="text-gray-900 dark:text-gray-50 text-lg">
                    {{ track['title'] }}
                </p>
            </div>
        </div>
        <div class="space-y-2">
            <div class="relative">
                <div class="bg-gray-100 dark:bg-gray-700 rounded-full overflow-hidden">
                    <div id="durationProgressbar"
                         class="bg-cyan-500 dark:bg-cyan-400 w-1/2 h-2 duration-1000 ease-linear"
                         role="progressbar"
                         aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
                <!--<div class="ring-cyan-500 dark:ring-cyan-400 ring-2 absolute left-1/2 top-1/2 w-4 h-4 -mt-2 -ml-2 flex items-center justify-center bg-white rounded-full shadow">
                    <div class="w-1.5 h-1.5 bg-cyan-500 dark:bg-cyan-400 rounded-full ring-1 ring-inset ring-gray-900/5"></div>
                </div>-->
            </div>
            <div class="flex justify-between text-sm leading-6 font-medium tabular-nums">
                <div id="position" class="text-cyan-500 dark:text-gray-100">{{ track['position'] }}</div>
                <div id="duration" class="text-gray-500 dark:text-gray-400">{{ track['duration'] }}</div>
            </div>
        </div>
    </div>
    <div class="bg-gray-50 text-gray-500 dark:bg-gray-600 dark:text-gray-200 flex items-center">
        <div class="flex-auto flex items-center justify-evenly">
            <button type="button" id="previous" aria-label="Previous">
                <svg width="24" height="24" fill="none">
                    <path d="m10 12 8-6v12l-8-6Z" fill="currentColor" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6v12" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>
            </button>
        </div>


        <button type="button"
                class="bg-white text-gray-900 dark:bg-gray-100 dark:text-gray-700 flex-none -my-2 mx-auto w-20 h-20 rounded-full ring-1 ring-gray-900/5 shadow-md flex items-center justify-center"
                id="playpause" aria-label="Play&Pause">
            {% if playing %}
            <svg width="30" height="32" fill="currentColor">
                <rect x="6" y="4" width="4" height="24" rx="2"/>
                <rect x="20" y="4" width="4" height="24" rx="2"/>
            </svg>
            {% else %}
            <svg width="30" height="32" fill="currentColor">
                <path d="M 10 2 L 10 30 L 25 16 L 10 2"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
            {% endif %}
        </button>

        <div class="flex-auto flex items-center justify-evenly">
            <button type="button" id="next" aria-label="Next">
                <svg width="24" height="24" fill="none">
                    <path d="M14 12 6 6v12l8-6Z" fill="currentColor" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18 6v12" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="bg-white border-gray-100 dark:bg-gray-600 dark:border-gray-500 border-b rounded-b-xl p-4 pb-4 sm:p-8 sm:pb-6 lg:p-6 xl:p-10 xl:pb-6 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8">

        <div class="flex justify-between text-sm leading-6 font-medium tabular-nums">
            <div class="text-cyan-500 dark:text-gray-400">
                <button type="button" aria-label="volumedown" id="volumedown">
                    <svg width="24" height="24" fill="none">
                        <path d="M 11 4 L 6 8 L 2 8 v 8 l 4 0 L 11 20 Z"
                              stroke="currentColor" fill="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M 14 7 C 17 10 17 14 14 17"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
            <div class="container mx-auto px-2 py-2 align-middle">
                <div class="relative">
                    <div class="bg-gray-100 dark:bg-gray-700 rounded-full overflow-hidden">
                        <div class="bg-cyan-500 dark:bg-cyan-400 w-1/2 h-2 duration-1000 linear"
                             role="progressbar" id="volume"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ volume }}%"></div>
                    </div>
                    <!--<div class="ring-cyan-500 dark:ring-cyan-400 ring-2 absolute left-1/2 top-1/2 w-4 h-4 -mt-2 -ml-2 flex items-center justify-center bg-white rounded-full shadow">
                        <div class="w-1.5 h-1.5 bg-cyan-500 dark:bg-cyan-400 rounded-full ring-1 ring-inset ring-gray-900/5"></div>
                    </div>-->
                </div>
            </div>
            <div class="text-gray-500 dark:text-gray-400">
                <button type="button" aria-label="volumeup" id="volumeup">
                    <svg width="24" height="24" fill="none">
                        <path d="M 11 4 L 6 8 L 2 8 v 8 l 4 0 L 11 20 Z" fill="currentColor" stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M 14 7 C 17 10 17 14 14 17 M 16 5 C 20 8 20 16 16 19 M 18 3 C 23 7 23 17 18 21"
                              stroke="currentColor" stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    document.getElementById('menubutton').onclick = function () {
        document.getElementById("mobile-menu").classList.toggle("hidden");
    }

    const toggleprofile = document.getElementById("toggleprofile");
    [...document.querySelectorAll('body')].forEach(el => {
        el.addEventListener('click', event => {
            if (event.target.parentElement.id !== "toggleprofile") {
                console.clear();
                console.log(event.target.parentElement.id)
                toggleprofile.classList.add("hidden")
            } else {
                toggleprofile.classList.toggle("hidden")
            }
        })
    })
</script>

<script type="text/javascript">
    // Extended from https://github.com/SoCo/SoCo/blob/master/examples/webapp/templates/index.html
    var playing = false;
    var volume = 0;
    var position = 0;
    var duration = 100;
    var currentTitle = "";
    var currentPlaying = true

    function loadState() {
        $.getJSON('/state').done(function (data) {
            volume = data['volume'];
            playing = data["is_playing"];
            position = data["position"];
            duration = data['duration'];
            $('#volume').css('width', volume + "%");

            if (currentTitle != data['title']) {
                $('#title').text(data['title']);
                $('#artist').text(data['artist']);
                $('#album').text(data['album']);
                $('#duration').text(secondsToMinutes(duration));
                $('#cover').attr("src", data['album_art']);
                currentTitle = data['title'];
            }
            if (currentPlaying != playing) {
                setPlayButton(playing);
                currentPlaying = playing;
            }

        });
    }

    function setPosition() {
        if (playing) {
            var time = secondsToMinutes(position++);
            $('#position').text(time);
            percentage = 100 * position / duration
            $('#durationProgressbar').css('width', percentage + "%");
            if (percentage > 100) {
                loadState()
            }
        }
    }

    function setPlayButton(playing) {
        if (playing) {
            $('#playpause').html('<svg width="30" height="32" fill="currentColor">\n' +
                '                <rect x="6" y="4" width="4" height="24" rx="2"/>\n' +
                '                <rect x="20" y="4" width="4" height="24" rx="2"/>\n' +
                '            </svg>');
        } else {
            $('#playpause').html('<svg width="30" height="32" fill="currentColor">\n' +
                '                <path d="M 10 2 L 10 30 L 25 16 L 10 2"\n' +
                '                      stroke="currentColor" stroke-width="2" stroke-linecap="round"\n' +
                '                      stroke-linejoin="round"/>\n' +
                '            </svg>');
        }
    }


    function secondsToMinutes(seconds) {
        var hours = Math.floor(seconds / 3600);
        var minutes = Math.floor(seconds / 60);
        var seconds = seconds % 60;
        return pad(hours) + ":" + pad(minutes) + ":" + pad(seconds);
    }

    function pad(num) {
        var s = "00" + num;
        return s.substr(s.length - 2);
    }

    $(document).ready(function () {
        loadState();

        setInterval("loadState()", 20000);
        setInterval("setPosition()", 1000);

        $('#next').click(function () {
            $.ajax('/next');
            setTimeout(loadState, 1000);
        });

        $('#previous').click(function () {
            $.ajax('/previous');
            setTimeout(loadState, 1000);
        });

        $('#playpause').click(function () {
            if (playing === true) {
                $.ajax('/pause');
                playing = false;
            } else {
                $.ajax('/play');
                playing = true;
            }
            setPlayButton(playing);
        });

        $('#volumeup').click(function () {
            $.ajax('/volumeup');
            volume++;
            $('#volume').css('width', volume + "%");
        });

        $('#volumedown').click(function () {
            $.ajax('/volumedown');
            volume--;
            $('#volume').css('width', volume + "%");

        });

    });
</script>

</body>
</html>